{% extends 'catalog/base.html' %}

<title>{% block title %}Online blog · Small talks{% endblock %}</title>
{% block content %}
<div class="container my-5">
    <h1>{% if object %}Редактировать пост{% else %}Создать пост{% endif %}</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        {% if not object %}
        <button type="submit" class="btn btn-success">Создать</button>
        <a href="{% url 'catalog:blogpost_list' %}" class="btn btn-primary">Назад</a>
        {% else %}
        <button type="submit" class="btn btn-success">Сохранить</button>
        <a href="{% url 'catalog:blogpost_list' %}" class="btn btn-primary">Назад</a>
        {% endif %}
    </form>
    {% endblock %}
    {% block product_actions %}
    {% endblock %}