{% extends 'catalog/base.html' %}

{% block content %}
<div class="container mt-1">
    <h1 class="mb-3">Создание нового товара</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-success">Добавить</button>
        <a class="btn btn-primary" href="{% url 'catalog:product_list' %}"
                                   role="button">Назад</a>
    </form>
{% endblock %}
{% block product_actions %}
{% endblock %}
